html, body, #root {
  height: 100%;
  width: 100%;
  font-family: "Jacquard 24", system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #272946;
  overflow: hidden;
}
